# Important Requirements here.
telethon
https://github.com/New-dev0/Telethon-Patch/archive/main.zip
python-decouple
python-dotenv
aiofiles                 24.1.0
aiohappyeyeballs         2.4.4
aiohttp                  3.11.10
aiosignal                1.3.1
akipy                    0.1.2
anyio                    4.7.0
appdirs                  1.4.4
APScheduler              3.11.0
asyncio                  3.4.3
attrs                    24.2.0
beautifulsoup4           4.12.3
bs4                      0.0.2
cachetools               5.5.0
certifi                  2024.8.30
chardet                  3.0.4
charset-normalizer       3.4.0
cssselect                1.2.0
dnspython                2.7.0
emoji                    2.14.0
emojis                   0.7.0
enhancer                 0.3.4
environs                 11.2.1
fake-useragent           2.0.1
frozenlist               1.5.0
gitdb                    4.0.11
GitPython                3.1.43
google-api-core          2.23.0
google-api-python-client 2.154.0
google-auth              2.36.0
google-auth-httplib2     0.2.0
googleapis-common-protos 1.66.0
googletrans              3.0.0
h11                      0.14.0
h2                       3.2.0
heroku3                  5.2.1
hpack                    3.0.0
hstspreload              2024.12.1
htmlwebshot              0.1.2
httpcore                 1.0.7
httplib2                 0.22.0
httpx                    0.25.2
hyperframe               5.2.0
idna                     2.10
img2html                 0.0.7
importlib_metadata       8.5.0
importlib_resources      6.4.5
instagrapi               1.15.19
Jinja2                   3.1.4
lexica-api               1.6.0
lottie                   0.7.1
lxml                     5.3.0
lxml_html_clean          0.4.1
MarkupSafe               3.0.2
marshmallow              3.23.1
MukeshAPI                0.6.5.6
multidict                6.1.0
numpy                    2.1.3
oauth2client             4.1.3
opencv-python-headless   4.10.0.84
packaging                24.2
parse                    1.20.2
pillow                   11.0.0
pip                      24.0
ProfanityDetector        0.2
propcache                0.2.1
proto-plus               1.25.0
protobuf                 5.29.1
psutil                   6.1.0
py-Ultroid               2021.10.11.1
pyaes                    1.6.1
pyasn1                   0.6.1
pyasn1_modules           0.4.1
pycryptodomex            3.9.9
pydantic                 1.8.2
pyee                     11.1.1
pymediainfo-pyrofork     6.0.2
pymongo                  4.10.1
pyparsing                3.2.0
PyPDF2                   3.0.1
pyppeteer                2.0.0
pyquery                  2.0.1
pyrofork                 2.3.52
Pyrogram                 2.0.106
PySocks                  1.7.1
python-dateutil          2.9.0.post0
python-decouple          3.3
python-dotenv            0.15.0
pytz                     2024.2
qrcode                   8.0
redis                    5.2.1
requests                 2.32.3
requests-html            0.10.0
rfc3986                  1.5.0
rsa                      4.9
setuptools               75.6.0
six                      1.17.0
smmap                    5.0.1
sniffio                  1.3.1
soupsieve                2.6
speedtest                0.0.1
tabulate                 0.9.0
telegraph                2.2.0
telethon-patch           0.4b0
TgCrypto                 1.2.5
tqdm                     4.67.1
typing_extensions        4.12.2
tzlocal                  5.2
uritemplate              4.1.1
urllib3                  1.26.20
w3lib                    2.2.1
websockets               10.4
yarl                     1.18.3
youtube-search-python    1.6.6
yt-dlp                   2024.12.6
zipp                     3.21.0
