# Important Requirements here.
telethon
https://github.com/New-dev0/Telethon-Patch/archive/main.zip
python-decouple
python-dotenv
git+https://github.com/badmunda98/SafoneAPI
git+https://github.com/badmunda98/BadAPI
pyrogram
